.quantity_option_container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.quantity_option_container.active {
  border: 2px solid #935158;
}

.quantity_option_price {
  font-size: 0.75rem !important;
}

@media screen and (max-width: 1536px) {
  .quantity_option_container {
    width: 120px;
  }
}
@media screen and (max-width: 1140px) {
  .quantity_option_container {
    width: 100px;
  }
  .quantity_option_text {
    font-size: 0.8rem !important;
  }
  .quantity_option_price {
    font-size: 0.6rem !important;
  }
}
@media screen and (max-width: 480px) {
  .quantity_option_container {
    width: 80px;
    margin-left: 2px !important;
    padding: 4px !important;
  }
  .quantity_option_text,
  .quantity_option_price {
    font-size: 0.75rem !important;
  }
}
